*.o
*.lo
*.lai
*.log
*.status
*.dylib
*.a
*.make
*.bin
*.out
*.cmake
*.so
wolf3d
.DS_Store
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/wolf3d.iml
.idea/workspace.xml
CMakeLists.txt
cmake-build-debug/
42_coding_style.xml
.dep
.idea
*.dSYM
